body {
  background: #ededed;
}

.header {
  background: #fff;
}

.header .time-work {
  color: #365ed2;
  text-align: right;
}

.header:after {
  -webkit-box-shadow: 0 10px 20px 0 #365ed2;
     -moz-box-shadow: 0 10px 20px 0 #365ed2;
          box-shadow: 0 10px 20px 0 #365ed2;
}

.header .number.one:before {
  background: url("../img/phone.png") 0 0 no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

.header .address:before {
  background: url("../img/location.png") 0 0 no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

.footer {
  background: #fff;
}

.logo:before {
  background: url("../img/logo.png") 0 0 no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

.tabs-navigation li {
  margin-right: 2.5em;
  /* 40px / 16px */
}

.tabs-navigation li:last-child {
  margin-right: 0;
}

.tabs-navigation a {
  background: #fff;
  color: #ea0e02;
  overflow: hidden;
}

.tabs-navigation a span {
  border-bottom: 1px dotted #ea0e02;
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

.tabs-navigation .active_link {
  background: #ea0e02;
  color: #fff;
  -webkit-transition: background 0.3s 0.1s, color 0.3s;
  -moz-transition: background 0.3s 0.1s, color 0.3s;
  transition: background 0.3s 0.1s, color 0.3s;
}

.tabs-navigation .active_link span {
  border-color: transparent;
}

.map-info li:first-child:before {
  background: url("../img/location.png") 0 50% no-repeat;
}

.map-info li:last-child {
  padding-left: 2.375em;
  /* 38pc / 16px */
}

.map-info li:last-child:before {
  width: 2.375em;
  background: url("../img/metro.png") 0 50% no-repeat;
  -moz-background-size: 2em auto;
    -o-background-size: 2em auto;
       background-size: 2em auto;
}

.block_border {
  border: 2px solid #ea0e02;
}

.timetable {
  border-bottom: 2px solid #ededed;
}

.timetable tr:first-of-type {
  text-align: left;
  background: #d7dff6;
}

.timetable a {
  color: #000;
}

.third-table tr:not(:first-of-type) td:first-of-type {
  color: #365ed2;
}

.palar-table tr:not(:first-of-type) td:last-of-type {
  color: #365ed2;
}

.nav {
  background: #365ed2;
}

.nav li a {
  color: #fff;
}

.nav .first-level > li > a {
  opacity: 0.7;
}

.nav .first-level > li > a.active_link {
  opacity: 1;
}

.nav .second-level {
  background: #2b4fb8;
}

.nav .second-level > li > a:hover {
  text-decoration: none;
}

.name_title {
  color: #ea0e02;
}

.btn-write_border,
.btn-detailed,
.btn-feedback,
.btn-next_border,
.btn-prev_border {
  border: 1px solid #ea0e02;
  color: #ea0e02;
}

.btn-write_border:hover,
.btn-detailed:hover,
.btn-feedback:hover,
.btn-next_border:hover,
.btn-prev_border:hover {
  background: #ea0e02;
  color: #fff;
}

.btn-feedback:before {
  background: url("../img/star.svg") 0 0 no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

.link {
  color: #ea0e02;
}

.active_link {
  opacity: 1;
}

.nav .first-level > li:hover {
  background: #2b4fb8;
}

.nav .first-level > li:hover a {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.active_link__list {
  background: #2b4fb8;
}

.active_link__list .second-level {
  display: table;
}

.card-slide .article {
  color: #444b5f;
}

.card {
  background: #fff;
}

.win-present:after {
  background: url("../img/leaf-right.png") 0 0 no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

.win-present:before {
  background: url("../img/leaf-left.png") 0 0 no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

.btn-toggle,
.btn-toggle_disabled {
  color: #ea0e02;
}

.btn-toggle span,
.btn-toggle_disabled span {
  border-bottom: 1px dotted #ea0e02;
}

.link-to_video {
  text-indent: 2.6111em;
  /* 47px / 18px */
  background: url("../img/youtube.png") 0 50% no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

.time-public {
  color: #444b5f;
}

.slick-list:active,
.slick-list:focus,
.slick-slide:active,
.slick-slide:focus,
.slick-dots button {
  outline: none;
}

.feedback_slider .btn-toggle span {
  padding: 0;
  -webkit-transition: border-color 0.2s linear;
  -moz-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  border-bottom: 1px solid #ea0e02;
}

.feedback_slider .feedback-card_full:hover {
  border-color: #ea0e02;
}

.feedback_slider .feedback-card_full .btn-toggle:hover {
  overflow: hidden;
}

.feedback_slider .feedback-card_full .btn-toggle:hover span {
  border-color: transparent;
}

.slick-dots .slick-active button {
  background: #365ed2;
  -webkit-box-shadow: 0 0 0 1px #365ed2;
     -moz-box-shadow: 0 0 0 1px #365ed2;
          box-shadow: 0 0 0 1px #365ed2;
}

.slick-dots button {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background 0.2s 0.1s ease, -webkit-box-shadow 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1);
  transition: background 0.2s 0.1s ease, -webkit-box-shadow 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1);
  -moz-transition: box-shadow 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1), background 0.2s 0.1s ease, -moz-box-shadow 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1);
  transition: box-shadow 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1), background 0.2s 0.1s ease;
  transition: box-shadow 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1), background 0.2s 0.1s ease, -webkit-box-shadow 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1), -moz-box-shadow 0.2s 0.1s cubic-bezier(0.4, 0, 1, 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: transparent;
  border: 2px solid #365ed2;
}

.feedback-card_full {
  border: 2px solid #ededed;
}

.hot-card {
  border: 1px solid #ea0e02;
  color: #ea0e02;
}

.service h2 {
  color: #365ed2;
}

.category-list a,
.inline-list a {
  color: #ea0e02;
}

.btn-write,
.btn-send {
  background: #ea0e02;
  color: #fff;
}

.time-item dd {
  color: #365ed2;
}

.breadcrumb span, .breadcrumb:after {
  color: #444b5f;
}

.breadcrumb a {
  color: #ea0e02;
}

.card_border {
  border: 4px solid #f2b100;
}

.grid .card-middle {
  border: 2px solid #ededed;
}

.grid .card-middle:hover {
  border-color: #ea0e02;
}

.card-middle .name {
  color: #365ed2;
}

.columns-links {
  background: #ededed;
}

.columns-links a {
  color: #000;
}

.btn-back {
  color: #ea0e02;
}

.btn-back:before {
  background: url("../img/angel-left.png") 0 0 no-repeat;
  -moz-background-size: contain;
    -o-background-size: contain;
       background-size: contain;
}

.important_field:after {
  color: #ea0e02;
}

.value {
  color: #365ed2;
}

blockquote:before {
  color: #ea0e02;
}

.sort-list li:before {
  background: #ea0e02;
}

.star-ratings {
  color: #ededed;
}

.star-ratings-top,
.total_rating dd {
  color: #f2b100;
}

.overlay,
.fancybox-overlay {
  background: rgba(43, 79, 184, 0.95);
}

.btn-overlay-close {
  color: #fff;
}

.btn-overlay-close:before, .btn-overlay-close:after {
  background: #fff;
}

.active-overlay-place {
  background: #fff;
}

.active-overlay_field input[type="radio"] {
  outline: none;
  border: none;
}

.active-overlay_field input[type="radio"] + label:before {
  border: 1px solid #b3b3b3;
  background: #fff;
}

.active-overlay_field input[type="radio"] + label:after {
  background-color: #162552;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
}

.active-overlay_field input[type="radio"]:checked + label:after {
  display: block;
}

.active-overlay_field input[type="text"],
.active-overlay_field input[type="email"],
.active-overlay_field textarea {
  border: 1px solid #f2b100;
  -webkit-box-shadow: 0;
     -moz-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s, -moz-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s, -moz-box-shadow 0.3s;
  outline: none;
}

.active-overlay_field input[type="text"]:focus,
.active-overlay_field input[type="email"]:focus,
.active-overlay_field textarea:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(242, 177, 0, 0.95);
     -moz-box-shadow: 0 0 2px 1px rgba(242, 177, 0, 0.95);
          box-shadow: 0 0 2px 1px rgba(242, 177, 0, 0.95);
}

.info-bord-ico.difficulty {
  background: url("../img/info-bord-func.png") 50% 35% no-repeat;
}

.info-bord-ico.distance {
  background: url("../img/info-bord-drive.png") 50% 35% no-repeat;
  -moz-background-size: 4.375em 4.375em;
    -o-background-size: 4.375em 4.375em;
       background-size: 4.375em 4.375em;
  /* 70px / 16px */
}

.hot-card:hover {
  background: #ea0e02;
  color: #fff;
}

.info-bord-ico.time {
  background: url("../img/time.png") 50% 35% no-repeat;
}

.tabs-content li[data-content] > h2 {
  margin-bottom: 1.5em;
  /* 36px / 24px */
}

.columns-inline a {
  color: #000;
}

.columns-inline a:before {
  background: url("../img/file.png") 0 50% no-repeat;
}

.timetable tr:not(:first-of-type) td.group:first-of-type {
  color: #000;
}

.timetable tr:not(:first-of-type) .time-start,
.timetable tr:not(:first-of-type) .time-exp {
  color: #365ed2;
}

.billboard:last-of-type {
  border-bottom: 2px solid #ededed;
}

.head-board {
  background: #d7dff6;
}

.info-bord-ico.price {
  background: url("../img/purse.png") 50% 35% no-repeat;
  -moz-background-size: 4.375em 4.375em;
    -o-background-size: 4.375em 4.375em;
       background-size: 4.375em 4.375em;
  /* 70px / 16px */
}

.info-bord-ico.calendar {
  background: url("../img/calendar.png") 50% 35% no-repeat;
  -moz-background-size: 4.375em 4.375em;
    -o-background-size: 4.375em 4.375em;
       background-size: 4.375em 4.375em;
  /* 70px / 16px */
}

.page-line {
  margin-right: 1.25em;
  /* 20px / 16px */
}

.page-line li {
  border: 1px solid #ea0e02;
  margin-right: -0.5px;
  margin-left: -0.5px;
  position: relative;
}

.page-line li a.active_link {
  color: #fff;
  background: #ea0e02;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.page-line li:hover {
  z-index: 2;
  border-color: #d10c02;
}

.page-line li:hover a {
  background: #d10c02;
  color: #fff;
}

.page-line li a {
  color: #ea0e02;
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
  text-decoration: none;
}

.btn.btn-next_border,
.btn.btn-prev_border {
  font: 500 1em/2.25 'MuseoSansMedium';
  text-decoration: none;
  text-align: center;
  height: 2.25em;
  /* 36px / 16px */
  max-width: 8.125em;
  /* 130px / 16x */
}

a:hover {
  text-decoration: none;
}

.manager .left-column {
  outline: 1px solid #f7f9fd;
}

.header .nav.scroll-nav-active {
  left: auto;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
          transform: none;
}

.card-widget {
  background: #fff;
}

.has-error {
  color: #e41202;
}

.has-error .error {
  color: #e41202 !important;
  border-color: #e41202 !important;
}

.has-error .error:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(228, 18, 2, 0.95) !important;
     -moz-box-shadow: 0 0 2px 1px rgba(228, 18, 2, 0.95) !important;
          box-shadow: 0 0 2px 1px rgba(228, 18, 2, 0.95) !important;
}

.has-success .valid {
  color: #365ed2 !important;
  border-color: #365ed2 !important;
}

.has-success .valid:focus {
  -webkit-box-shadow: 0 0 2px 1px rgba(54, 94, 210, 0.95) !important;
     -moz-box-shadow: 0 0 2px 1px rgba(54, 94, 210, 0.95) !important;
          box-shadow: 0 0 2px 1px rgba(54, 94, 210, 0.95) !important;
}

input.error::-webkit-input-placeholder, input.error::-moz-placeholder, input.error:-moz-placeholder, input.error:-ms-input-placeholder,
input.error [placeholder],
textarea.error::-webkit-input-placeholder,
textarea.error::-moz-placeholder,
textarea.error:-moz-placeholder,
textarea.error:-ms-input-placeholder,
textarea.error [placeholder] {
  color: #e41202 !important;
}

input.valid::-webkit-input-placeholder, input.valid::-moz-placeholder, input.valid:-moz-placeholder, input.valid:-ms-input-placeholder,
input.valid [placeholder],
textarea.valid::-webkit-input-placeholder,
textarea.valid::-moz-placeholder,
textarea.valid:-moz-placeholder,
textarea.valid:-ms-input-placeholder,
textarea.valid [placeholder] {
  color: #365ed2 !important;
}

.star-ratings .star-ratings-top {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.form-field .star-ratings {
  cursor: pointer;
}

.form-field .star-ratings span:hover {
  color: #f2b100;
}

.link.callback_link {
  line-height: 1;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  transition: border 0.3s ease;
  color: #ea0e02;
  text-decoration: none;
  border-bottom: 1px dotted #ea0e02;
}

.link.callback_link:hover {
  border-color: transparent;
}

.card-middle .left-column img,
.personal-info_worker .left-column img,
.personal-info_instr .left-column img,
.manager .left-column img {
  border: 1px solid #f7f9fd;
}

.body-board .inline-sort-list li span {
  color: #ea0e02;
}

.body-board .comments {
  color: #515151;
  font-family: "MuseoSansRegular";
}

.body-board .comments span {
  color: #ea0e02;
}

.body-board .list-plus {
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
}

.body-board .list-plus li {
  width: 32% !important;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1em;
  padding: 0 15px;
  vertical-align: top;
}

.body-board .list-plus li .wrapp-img {
  min-height: 115px;
  overflow: hidden;
}

.body-board .list-plus li .wrapp-img img {
  max-width: 100px;
}

.body-board .list-plus li .title_plus {
  color: #365ed2;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.125em;
}

.body-board .list-plus li .content_plus {
  font-family: "MuseoSansRegular";
  font-size: 1em;
  overflow: hidden;
}

.body-board .list-plus li .num-list {
  position: relative;
  float: left;
  top: 5px;
  margin-right: 5px;
  color: #365ed2;
  font-family: "MuseoSansBold";
}

.body-board .wrapp-img-full-size li {
  min-height: 115px;
  overflow: hidden;
}

.body-board .wrapp-img-full-size li img {
  max-width: 100%;
  width: 100%;
}

.body-board .wrapp-img-full-size li .title_plus {
  color: #ea0e02;
  margin-top: 11px;
  margin-bottom: 15px;
}

.body-board .title-lessons {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.125em;
}

.sort-list-round .sort-list li:before {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
}

.sort-list-round p {
  margin: 15px 0;
}

.sort-list-round li {
  margin: 15px 0;
}

.body-board .card-work {
  width: 48%;
  overflow: hidden;
  padding: 25px 15px;
  vertical-align: top;
  border: 1px solid #e4e4e4;
  margin: 20px 0;
  display: inline-block;
}

.body-board .card-work:nth-child(even) {
  float: right;
}

.body-board .card-work:nth-child(odd) {
  float: left;
}

.body-board .card-work .left-block {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  float: left;
}

.body-board .card-work .left-block img {
  width: 100%;
  max-height: 180px;
}

.body-board .card-work .left-block p {
  font-family: "MuseoSansBold";
  font-size: 0.875em;
  padding-top: 25px;
  padding-top: 10px;
}

.body-board .card-work .left-block p span {
  font-family: "MuseoSansRegular";
  font-size: 0.93em;
}

.body-board .card-work .right-block {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  float: right;
}

.body-board .card-work .right-block .name {
  font-family: "MuseoSansBold";
  font-size: 1.125em;
  color: #365ed2;
}

.body-board .card-work .right-block .prof {
  font-family: "MuseoSansRegular";
  font-size: 0.875em;
  color: #515151;
  padding-top: 15px;
  padding-bottom: 15px;
}

.body-board .card-work .wrapp_fio {
  min-height: 180px;
}

.body-board .card-work .right-block .btn_c {
  border: 1px solid #ea0e02;
  color: #ea0e02;
  font-size: 0.875em;
  background-color: transparent;
  font-family: "MuseoSansBold";
  padding: 20px 30px;
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.header .info {
  width: 50%;
  margin-left: 3.539%;
  float: right;
}

.header .contact {
  width: 33.375%;
}

.header .time-work {
  text-align: left;
}

.header .first-info {
  width: 58.625%;
}

.imgSwitch {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -2.125em -2.5em -3.125em;
  background-color: red;
  z-index: -1;
  background: url("../img/slide-general-1.png") 0 0 no-repeat;
  background-position: 141% 72%;
  -moz-background-size: 37.75em 18.875em;
    -o-background-size: 37.75em 18.875em;
       background-size: 37.75em 18.875em;
}

.category-detailed .text-wrapper h2 span {
  color: #515151;
  padding: 0 9px;
  font-size: 0.7em;
  font-family: "MuseoSansRegular";
}

span.grey {
  color: #515151 !important;
}

.body-board .inline-sort-list {
  min-height: 10em;
}

.wrapp_popup {
  position: fixed;
  z-index: 110;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(54, 94, 210, 0.7);
  top: 0;
  left: 0;
  overflow: hidden;
}

.wrapp_popup .wrapp_popup_content {
  max-width: 35%;
  min-width: 320px;
  width: 100%;
  margin: 200px auto;
  background-color: #fff;
  padding: 30px 60px;
  text-align: center;
  position: relative;
}

.wrapp_popup .wrapp_popup_content .title {
  font: normal 2em/1.4378 'MuseoSansBlack';
  padding-bottom: 20px;
}

.wrapp_popup .wrapp_popup_content p span {
  font-weight: bold;
}

.wrapp_popup .wrapp_popup_content .btn_c {
  border: 1px solid #ea0e02;
  color: #ea0e02;
  font-size: 0.875em;
  background-color: transparent;
  font-family: "MuseoSansBold";
  display: inline-block;
  padding: 15px 25px;
  text-decoration: none;
  width: 200px;
  text-align: center;
  outline: none;
  margin: 40px 0;
}

.wrapp_popup .wrapp_popup_content .btn_c:hover {
  background-color: #ea0e02;
  color: #fff;
}

.wrapp_popup .wrapp_popup_content .close {
  position: absolute;
  top: -35px;
  right: 0;
}
